<!---->
{% extends "layout.html"%}
{% block content %}
<h1 class="titulo">Resumen general</h1>
<div class="fondo">
  <!--graficos de areas-->
  <br>
  <div class="graficasIndividuales">
    <iframe title="areasprotegidas" width="100%" height="100%"
      src="https://app.powerbi.com/reportEmbed?reportId=4dac3a26-c0ab-45cd-9cb4-2877a47cda2f&autoAuth=true&ctid=33a93990-8bb4-4b9d-b422-4f8851217d7e"
      frameborder="0" allowFullScreen="true"></iframe>
    <br>
  </div>
  <br>
  <div class="graficasIndividuales">

  <iframe title="areasprotegidas" width="100%" height="100%"
      src="https://app.powerbi.com/reportEmbed?reportId=4dac3a26-c0ab-45cd-9cb4-2877a47cda2f&autoAuth=true&ctid=33a93990-8bb4-4b9d-b422-4f8851217d7e"
      frameborder="0" allowFullScreen="true"></iframe>
    <br>
  </div>
</div>
<br>
<h1 class="titulo">Resumen general</h1>
<div class="fondo">
  <!--graficos de areas-->
  <br>
  <div class="graficasIndividuales">

    <br>
  </div>
  <br>
  <div class="graficasIndividuales">

  
    <br>
  </div>
</div>
{% endblock %}