{% extends "layout.html"%}
{% block content %}
<!--filtros de busqueda-->
<div style="overflow-x: auto" id="clientes">
  <table class="table-hover tabla">
    <thead>
      <tr>
        <td>
          Filtrar mediante
        </td>
      </tr>
    </thead>
    <tbody>
      <tr>
       <td><input type="text" placeholder="fecha"></td>
       <td><input type="text" placeholder="valor"></td>
       <td><input type="text" placeholder="accion"></td>
      </tr>
      <tr>
        <td>
         <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModalCenter">
          Launch demo modal
          </button> 
        </td>
      </tr>
    </tbody>
  </table>
</div>
<!--nodal-->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Resultado de Torneos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Resultado
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>

<div style="overflow-x: auto" id="clientes">
  <table class="table-hover tabla">

    <caption>Torneos</caption>
    <thead>
      <tr>
        <th>descripcion</th>
        <th>estado</th>
        <th>Accion</th>
        <!--<th scope="col">Total urbana</th>-->
      </tr>
    </thead>
    <tbody>
      <tr>
       <td></td>
       <td></td>
       <td>
        <a href="#" type="button" class="btn btn-success" style="width:90px; margin: 1px;">Editar</a>
        <a href="#" type="button" class="btn btn-danger" style="width:90px ;">Eliminar</a>
      </td>
      </tr>
    </tbody>
  </table>
</div>
{% endblock %}